<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Add new worker:</h2>
        <div class="form-group">
            <label for="first_name">First name:</label>
            <input worker_id="first_name" ng-model="firstName" type="text" class="form-control"/>

            <label for="last_name">Last name:</label>
            <input worker_id="last_name" ng-model="lastName" type="text" class="form-control"/>
        </div>
        <a href="#/report" ng-click="createWorker()" class="btn btn-primary">Add worker</a>
    </div>
</div>
